//hdnet-262788382628.d.codeartifact.eu-central-1.amazonaws.com/npm/hdnet/:always-auth=true
//hdnet-262788382628.d.codeartifact.eu-central-1.amazonaws.com/npm/hdnet/:_authToken=${CODEARTIFACT_AUTH_TOKEN}